<header class="header">
  <div class="logo-container">   
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <div class="container-fluid">
        <img src="../assets/logo.png" alt="EduHub Logo" id="logo"/>
        <a routerLink="/" class="logo">EduHub</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-5">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item dropdown" *ngIf="authService.isLoggedIn()">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Select Course </a>
              <div class="dropdown-menu ">
                <li class="list-group-item list-group-item-action" *ngFor="let category of categories">
                  {{ category[1] }}
                </li>              
              </div>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto mr-5">
            <li class="nav-item bg-light" *ngIf="!authService.isLoggedIn()">
              <a routerLink="/login">Login</a>
            </li>
            <li class="nav-item bg-light" *ngIf="authService.isLoggedIn()">
              <a (click)="logout()">Logout</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
  </div>
</header>
