<div class="html">
  <div class="body">
    <header class="header">
      <section class="flex">
        <a href="/dashboard" class="logo">EduHub</a>
        <div class="icons">
          <div id="menu-btn" class="fas fa-star"></div>
          <div id="user-btn" class="fas fa-user"></div>
          <div id="search-btn" class="fas fa-search"></div>
          <div id="toggle-btn" class="fas fa-sun"></div>
        </div>
        <div class="profile">
          <img src="../../../assets/home.jpg" class="image" alt="profile">
          <h3 class="name"></h3>
          <p class="role"></p>
          <a href="profile.html" class="btn">View Profile</a>
        </div>
      </section>
    </header>
    <div class="side-bar">
      <div id="close-btn">
        <i class="fas fa-times"></i>
      </div>
      <div class="profile">
        <img src="images/pic-1.jpg" class="image" alt="">
        <h3 class="name"></h3>
        <p class="role"></p>
        <a href="profile.html" class="btn">View Profile</a>
      </div>
      <nav class="navbar">
        <a href="/dashboard"><i class="fas fa-home"></i><span>Home</span></a>
        <a href="/courses"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
      </nav>
    </div>
    <section class="home-grid">
      <h1 class="heading">Quick Options</h1>
      <div class="box-container">
        <div class="box">
          <h3 class="title">Top Categories</h3>
          <div class="flex">
            <a *ngFor="let category of categories" (click)="navigateToCourses(category[0])">
              <i class="fas fa-code"></i><span>{{ category[1] }}</span>
            </a>
          </div>
        </div>
        <div class="box">
          <h3 class="title">Popular Topics</h3>
          <div class="flex">
            <a href="#"><i class="fab fa-html5"></i><span>HTML</span></a>
            <a href="#"><i class="fab fa-css3"></i><span>CSS</span></a>
            <a href="#"><i class="fab fa-js"></i><span>JavaScript</span></a>
            <a href="#"><i class="fab fa-react"></i><span>React</span></a>
            <a href="#"><i class="fab fa-php"></i><span>PHP</span></a>
            <a href="#"><i class="fab fa-bootstrap"></i><span>Bootstrap</span></a>
          </div>
        </div>
      </div>
    </section>
    <section class="courses">
      <h1 class="heading">Our Courses</h1>
      <div class="box-container">
        <div class="row box">
          <div class="col-md-4" *ngFor="let course of courses">
            <div class="card mb-4 shadow-sm">
              <div class="card-body tutor">
                <h5 class="card-title title">{{ course.courseName }}</h5>
              <button class="btn btn-primary info " (click)="toggleCourseContent(course.courseId)">View Details</button>
                <div  class="coursecontent" *ngIf="course.showContent">
                  <h6>Course Content:</h6>
                  <ul>
                    <li *ngFor="let content of courseContent">
                      <b>Title : </b>{{ content.contentTitle }} <br>
                      <b>Description : </b> {{ content.contentDescription }} <br>
                      <b>Content URL : </b> <a [href]="content.contentURL" target="_blank"> {{ content.contentURL }} </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="more-btn">
        <a href="/courses" class="inline-option-btn">View All Courses</a>
      </div>
    </section>
    
    <footer class="footer">
      &copy;<span>EduHub</span> | All Rights Reserved!
    </footer>
  </div>
</div>
