<div class="html">
  <div class="body">
    <header class="header">
      <section class="flex">
        <a href="/dashboard" class="logo">EduHub</a>
        <div class="icons">
          <div id="menu-btn" class="fas fa-star"></div>
          <div id="user-btn" class="fas fa-user"></div>
          <div id="search-btn" class="fas fa-search"></div>
          <div id="toggle-btn" class="fas fa-sun"></div>
        </div>
        <div class="profile">
          <img src="../../../assets/home.jpg" class="image" alt="profile">
          <h3 class="name"></h3>
          <p class="role"></p>
          <a href="profile.html" class="btn">View Profile</a>
        </div>
      </section>
    </header>
    <div class="side-bar">
      <div id="close-btn">
        <i class="fas fa-times"></i>
      </div>
      <div class="profile">
        <img src="images/pic-1.jpg" class="image" alt="">
        <h3 class="name"></h3>
        <p class="role"></p>
        <a href="profile.html" class="btn">View Profile</a>
      </div>
      <nav class="navbar">
        <a href="/dashboard"><i class="fas fa-home"></i><span>Home</span></a>
        <a href="/courses"><i class="fas fa-graduation-cap"></i><span>Courses</span></a>
      </nav>
    </div>

    

<section class="courses">
  <h1 class="heading">Enrolled Courses</h1>
  <div class="box-container">
    <div class="row box justify-content-center" *ngFor="let course of enrolledCourses">
      <div class="col-md-4" >
        <div class="card mb-4 shadow-sm">
          <div class="card-body courselist ">
            <ul>
              <li>
                <h5 class="card-title title">{{ course.courseName }}</h5>
              </li>
              <li>
                <button class="btn btn-primary info" (click)="toggleCourseContent(course.courseId)">View Details</button>
              </li>
              <li>
                <button class="btn btn-primary danger" (click)="toggleCourseContent(course.courseId)">Un Enroll</button>
              </li>
            </ul>
            <div class="coursecontent" *ngIf="course.showContent">
              <h6>Course Content:</h6>
              <ul>
                <li *ngFor="let content of course.courseContent">
                  <b>Title : </b>{{ content.contentTitle }} <br>
                  <b>Description : </b>{{ content.contentDescription }} <br>
                  <b>Content URL : </b><a [href]="content.contentURL" target="_blank">{{ content.contentURL }}</a> <br>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" [style.width]="content.progress + '%'">
                      {{ content.progress }}%
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="more-btn">
    <a href="/courses" class="inline-option-btn">View All Courses</a>
  </div>
</section>

    
    <footer class="footer">
      &copy;<span>EduHub</span> | All Rights Reserved!
    </footer>
  </div>
</div>
