/* Remove unnecessary styles */

.container .register-form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  border-radius: 5px;
}

.btn-primary {
  border-radius: 5px;
}

.text-danger {
  font-size: 0.9em;
}


.btn-link {
  font-weight: bold;
}

.text-danger {
  color: red;
}

.login-forms h1{
  font-size: 2em;
}
